
<!-- theme details -->
<div class="theme-detail-tags widget">
  <h3 class="h4">Categories:</h3>

  {{ if .Params.archetype }}
      {{- range .Params.archetype }}
          {{- with $.Site.GetPage "taxonomyTerm" (printf "archetype/%s" (urlize .)) }}
              {{ if eq .Page.Title "No archetype" }}
              {{ else }}
                  {{ partial "icons/icon-link-widget.html" (dict "name" .Page.Title "icon" .Page.Params.icon "link" .Page.Permalink) }}
              {{ end }}
          {{ end }}
      {{ end }}
  {{ end }}
  </div>