<div
        id="{{ .theme.Params.Title | urlize }}"
        class="col-12 col-md-6 col-xl-4 mb-3 grid {{ .classes }} {{ range .theme.Params.ssg }}{{ . | urlize }} {{ end }}{{ range .theme.Params.cms }}{{ . | urlize }} {{end}}{{ range .theme.Params.css }}{{ . | urlize }} {{end}}{{ range .theme.Params.archetype }}{{ . | urlize }} {{end}}{{ range .theme.Params.services }}{{ . | urlize }} {{end}}"
        data-stars="{{ if .repo }}{{ .repo.stars }}{{ else }}0{{ end }}"
        data-last-commit="{{ if .repo }}{{ .repo.last_commit }}{{ else }}0{{ end }}"
        data-submitted="{{ .theme.Date }}"
        data-name="{{ .theme.Title }}"
        data-weight="{{ .theme.Params.weight | default 0 }}"
>

    {{ $githubLink := .theme.Params.github }}
    {{ if ne .theme.Params.github_branch "master" }}
        {{ $githubLink = (printf "%s/%s/%s" $githubLink "tree" .theme.Params.github_branch)}}
    {{ end }}

    <div class="theme theme-card" data-name="{{ .theme.Title }}">
        <a href="{{ .theme.Params.github }}" title="{{ .theme.Params.title }}" class="theme-header">
            {{ if .repo }}
                {{ $staticPath := (printf "%s/%s%s" "static/images/theme/thumbnail" .repo.theme_key ".webp") }}
                {{ $suffix := cond (eq .theme.Params.mode "dark") "-dark" "" }}
                {{ $filePath := printf "%s/%s%s.webp" "images/theme/thumbnail" .repo.theme_key $suffix }}

                {{ if (fileExists $staticPath) }}
                    <img style="padding-left: 0px; transition: all {{ .theme.Params.transition }} ease-in-out;" width="296" height="222" loading="lazy" src="{{ $filePath | relURL }}" alt="{{ .theme.Params.title }} screenshot" srcset="{{ $filePath | relURL }}">

                        class="theme-screenshot"/>
                {{ else }}
                    <img src="{{ "images/default.png" | relURL }}" loading="lazy"
                            alt="{{ .theme.Params.title }} screenshot" class="theme-screenshot"/>
                    {{ end }}

            {{ else }}
                <img src="{{ "images/default.png" | relURL }}" width="280" height="180" loading="lazy"
                    alt="{{ .theme.Params.title }} screenshot" class="theme-screenshot"/>
            {{ end }}
        </a>

        <div class="theme-body">
            <div class="sun-moon-icons" style="display: flex;">
                <h2><a href="{{ .theme.Params.github }}" class="theme-title">{{ .theme.Params.title }}</a></h2>
                
                {{ $width := cond (eq .theme.Params.mode "dark") 38 35 }}
                {{ $height := cond (eq .theme.Params.mode "dark") 38 35 }}
                {{ $src := cond (eq .theme.Params.mode "dark") "./images/day-sunny.svg" "./images/moon.svg" }}
                {{ $alt := cond (eq .theme.Params.mode "dark") "Sun Icon" "Moon Icon" }}

                <img width="{{ $width }}" height="{{ $height }}" id="moon-sun-icon" src="{{ $src }}" alt="{{ $alt }}" class="icon" />

                
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        // Get all elements with the 'moon-sun-icon' class
                        var moonSunIcons = document.querySelectorAll('#moon-sun-icon');
                
                        // Iterate through each moon-sun icon
                        moonSunIcons.forEach(function (moonSunIcon) {
                            // Get the theme screenshot element associated with the current icon
                            var themeScreenshot = moonSunIcon.closest('.theme').querySelector('.theme-screenshot');
                
                            // Set the default image source
                            var defaultImagePath = themeScreenshot.getAttribute('src');
                            var isMoon = moonSunIcon.getAttribute('alt') === 'Moon Icon';
                
                            moonSunIcon.addEventListener('click', function () {
                                // Toggle between moon and sun states
                                isMoon = !isMoon;
                
                                if (defaultImagePath.endsWith('-dark.webp')) {
                                    var lightSrc = defaultImagePath.replace('-dark.webp', '.webp');
                                    themeScreenshot.setAttribute('srcset', isMoon ? lightSrc : defaultImagePath);
                                } else {
                                    var darkSrc = defaultImagePath.replace('.webp', '-dark.webp');
                                    themeScreenshot.setAttribute('srcset', isMoon ? defaultImagePath : darkSrc);
                                }
                
                                // Change the icon based on the state
                                moonSunIcon.setAttribute('src', isMoon ? './images/moon.svg' : './images/day-sunny.svg');
                                moonSunIcon.setAttribute('alt', isMoon ? 'Moon Icon' : 'Sun Icon');
                                moonSunIcon.setAttribute('height', isMoon ? '35' : '38');
                                moonSunIcon.setAttribute('width', isMoon ? '35' : '38');
                            });
                        });
                    });
                </script>
                
            </div>
        </div>
    
        
        <div class="theme-footer">

            {{ if .theme.Params.archetype }}
            {{ range .theme.Params.archetype}}
                {{ with $.theme.Site.GetPage "taxonomyTerm" (printf (urlize .)) }}
                    {{ with .Page.Params.icon }}
                        <img src="{{ . }}" alt="Icon">
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}

        </div>
    </div>
</div>
