<div
        id="{{ .theme.Params.Title | urlize }}"
        class="col-12 col-md-6 col-xl-4 mb-3 grid {{ .classes }} {{ range .theme.Params.archetype }}{{ . | urlize }} {{end}}"
        data-stars="{{ if .repo }}{{ .repo.stars }}{{ else }}0{{ end }}"
        data-last-commit="{{ if .repo }}{{ .repo.last_commit }}{{ else }}0{{ end }}"
        data-submitted="{{ .theme.Date }}"
        data-name="{{ .theme.Title }}"
        data-weight="{{ .theme.Params.weight | default 0 }}"
>

    {{ $githubLink := .theme.Params.github }}
    {{ if ne .theme.Params.github_branch "master" }}
        {{ $githubLink = (printf "%s/%s/%s" $githubLink "tree" .theme.Params.github_branch)}}
    {{ end }}

    <div class="theme theme-card" data-name="{{ .theme.Title }}">
        <a href="{{ .theme.Params.github }}" title="{{ .theme.Params.title }}" class="theme-header">
            {{ if .repo }}
                {{ $staticPath := (printf "%s/%s%s" "static/images/theme/thumbnail" .theme.Params.title ".webp") }}
                {{ $suffix := cond (eq .theme.Params.mode "dark") "-dark" "" }}
                {{ $filePath := printf "%s/%s%s.webp" "images/theme/thumbnail" .theme.Params.title $suffix }}

                {{ if (fileExists $staticPath) }}
                    <img style="padding-left: 0px; transition: all {{ .theme.Params.transition }} ease-in-out;" width="296" height="222" loading="lazy" 
                    src="{{ $filePath | relURL }}" alt="{{ .theme.Params.title }} screenshot" srcset="{{ $filePath | relURL }}"

                        class="theme-screenshot"/>
                {{ else }}
                    <img src="{{ "images/default.png" | relURL }}" loading="lazy"
                            alt="{{ .theme.Params.title }} screenshot" class="theme-screenshot"/>
                    {{ end }}

            {{ else }}
                <img src="{{ "images/default.png" | relURL }}" width="280" height="180" loading="lazy"
                    alt="{{ .theme.Params.title }} screenshot" class="theme-screenshot"/>
            {{ end }}
        </a>

        <div class="theme-body">
            <div class="sun-moon-icons" style="display: flex;">
                <h2><a href="{{ .theme.Params.github }}" class="theme-title">{{ .theme.Params.title }}</a></h2>
                
                {{ $width := cond (eq .theme.Params.mode "dark") 32 29 }}
                {{ $height := $width }}
                {{ $src := "./images/day-sunny.svg" }}
                {{ $alt := "Sun Icon" }}
                
                {{ if eq .theme.Params.mode "light" }}
                    {{ $src = "./images/moon.svg" }}
                    {{ $alt = "Moon Icon" }}
                {{ end }}
                
                <img width="{{ $width }}" height="{{ $height }}" id="moon-sun-icon" src="{{ $src }}" alt="{{ $alt }}" class="icon" />
                   
            </div>
        </div>
        
        <div class="theme-footer">

            {{ if .theme.Params.archetype }}
            {{ range .theme.Params.archetype}}
                {{ with $.theme.Site.GetPage "taxonomyTerm" (printf (urlize .)) }}
                    {{ with .Page.Params.icon }}
                        <img src="{{ . }}" width="30" height="24" alt="Icon">
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}

        </div>
    </div>
</div>
